body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.frist-section {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin: 0%;
  padding-bottom: 100px;
}
p {
  font-weight: 400;
}
span {
  color: orange;
}
h1 {
  font-size: 50px;
}
a {
  background-image: linear-gradient(tomato, orange);
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}
.half-width {
  width: 100%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.frist-section1 {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  margin: 0%;
  padding-bottom: 100px;
}
.frist-section3 {
  display: flex;
  background-image: url(images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  margin: 0%;
}
h2 {
  font-size: 40px;
}
h3 {
  color: orange;
}

.Experiences-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px rgb(37, 170, 223);
  padding-left: 20px;
  border-radius: 20px;
}
#web-developer {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#Full-stack-developer {
  border-left: 10px solid;
  border-image: linear-gradient(orange, red);
  border-image-slice: 1;
}
footer {
  text-align: center;
}
